html
{
	font-size: 100%;
	height: 100%;
}

body
{
	height: 100%;
	background: #ffffff;
	margin: 0;
	padding: 0;
	
	background-image: url("/images/bgtile.jpg");
	background-attachment: fixed;
	background-position: centered;
	
	font-family: 'Roboto', sans-serif;
}

a
{
	color: #ffffff;
	text-decoration: none;
}

table
{
	width: 100%;
	height: 100%;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	margin-top: 5px;
}

h3
{
	margin-top: 0px;
	margin-bottom: 0px;
}

input
{
	padding: 2px;
	border: 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin-top: 2px;
	margin-bottom: 2px;
}

input[type="submit"]
{
	background: #ffffff;
	padding: 1px;
	cursor: pointer;
}

select
{
	font-size: 1em;
}

textarea
{
	background-color: #ffffff;
	border: none;
	font-family: 'Roboto',sans-serif;
}

.outer
{
	display: table;
	position: absolute;
	height: 90%;
	width: 100%;
}

.middle
{
	display: table-cell;
	vertical-align: middle;
}

.inner
{
	display: table;
	height: auto;
	width: auto;
	margin: 5px auto;
	vertical-align: middle;
	color: #ffffff;
	
	background-color: rgba(255,255,255,0.4);
	
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hcenter
{
	margin: 0 auto;
}

.valign
{
	display: inline-block;
	vertical-align: middle;
}

.header
{
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
}

.page
{
	margin: 0 auto;
	margin-bottom: 8px;
}

.button
{
	display: inline-block;
	white-space: nowrap;
	color: #ffffff;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	margin-left: 5px;
	margin-right: 5px;
}

.fill
{
	width: 100%;
}

.logo
{
	margin-bottom: -55px;
	margin-left: 5px;
	margin-right: 5px;
}

.formbutton
{
	color: red;
}

.resultsbox
{
	width: 1000px;
	height: auto;
	background: #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
	clear: both;
	color: #000000;
	overflow: auto;
}

.order
{
	padding: 0px;
}

.order input
{
	font-size: 1em;
	padding: 5px;
	margin: -2px;
}

.order:hover
{
	background-color: #f5f5f5;
}

.hidden
{
	display: none;
}

.right
{
	float:right;
}

.left
{
	float: left;
}

.none
{
	display: inline-block;
	width: auto;
	padding-left:	5px; 
	padding-right: 5px;
}

.table
{
	display: table;
	width: 100%;
}

.table-row
{
	display: table-row;
}

.table-cell
{
	display: table-cell;
	white-space: pre;
}

.table-cell input
{
	font-size: 1em;
	padding: 1px;
	margin: 2px;
}
.table-cell input:after
{
	clear: both;
}

.table-cell img
{
	margin-left:5px;
}

.table-cell img:after
{
	clear: both;
}

.resultsbox p
{
  margin-left: 5px;
	margin-right: 5px;
}

.table-header
{
	background: #000040;
	color: #ffffff;
}

.resultsbox .table
{
	color: #000000;
}
.item
{
	cursor: pointer;
	width: 1000px;
}

.right-text
{
	text-align: right;
}

.gradient
{
	background-image: url("/images/gradient.png");
	height: 100%;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-repeat: repeat-y;
	position: fixed;
	overflow: auto;
}

.clickable
{
	cursor: pointer;
}

.resultsbox a
{
	color: #000000;
}

.exact-height-row
{
	height: 29px;
}
